<h1>Bienvenido al chat virtual</h1>

<div>
    <h2>Aqui puedes escribir tus mensajes!</h2>

    <form id="dataUser">
        <input id="emailUser" type="text" placeholder="Correo del usuario"></input>
        <input id="messageUser" type="text" placeholder="Ingrese su mensaje"></input>
        <input type="submit" value="Enviar mensaje"></input>
    </form>
</div>

<div>
    <p id="renderMessages">{{messages}}</p>
</div>

<script src="./socket.io/socket.io.js"></script>
<script src="../js/messages.js"></script>